@font-face {
  font-family: "TruenoBd";
  src:
    url("../fonts/TruenoBd.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TruenoBd.otf") format("opentype"),
    url("../fonts/TruenoBd.svg") format("svg"),
    url("../fonts/TruenoBd.ttf") format("truetype"),
    url("../fonts/TruenoBd.woff") format("woff"),
    url("../fonts/TruenoBd.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TruenoBlk";
  src:
    url("../fonts/TruenoBlk.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TruenoBlk.otf") format("opentype"),
    url("../fonts/TruenoBlk.svg") format("svg"),
    url("../fonts/TruenoBlk.ttf") format("truetype"),
    url("../fonts/TruenoBlk.woff") format("woff"),
    url("../fonts/TruenoBlk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
