.acceso {
  .gform_wrapper {
    label {
      text-transform: uppercase;
    }

    input[type=text] {
      width: 100% !important;
    }

    input[type=password] {
      width: 100% !important;
    }
  }

  .btnAcceso {
    display: none;
  }

  .btnNavegacion {
    display: block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 1.3rem;
    width: fit-content;
    margin: 0 auto;
  }
}
