.post-type-archive-sesion {
  .banner {
    min-height: 150px;
  }

  #video-thumbnails {
    .demo-gallery-poster {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      img {
        top: 50%;
        left: 50%;
        position: absolute;
        height: 48px;
        margin-left: -24px;
        margin-top: -24px;
        opacity: 0.8;
        width: 48px;
      }
    }
  }

  h5 {
    text-transform: uppercase;
    padding: 2%;
    background-color: #f1f1f1;
    color: rgba(151, 14, 83, 1);
    font-weight: 600;
  }
}

