.post-type-archive-colaborador {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  article {
    .tituloColaborador {
      background-color: #f1f1f1;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1%;
      display: none;
    }
  }
}
