.template-comunicaciones {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botonesFiltro {
    text-align: center;
  }

  .infoConcurso {
    text-align: center;
    padding: 2% 0;
  }

  .botnDesplegable {
    color: #000;
    background: #ccc;
    font-weight: 700;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      color: theme-color("blanco");
      background: theme-color("primary");
      cursor: pointer;
    }
  }

  .activo {
    color: theme-color("blanco");
    background: theme-color("primary");
    font-weight: 700;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 5px;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .btnNavegacion {
    display: block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 1.3rem;
    width: fit-content;
    margin: 0 auto;
  }

  .nomAutor {
    text-transform: uppercase;
    text-align: center;
    background-color: #f1f1f1;
    padding: 1%;
  }

  .linkComunicacion {
    text-transform: uppercase;
    display: block;
    text-align: center;
    background-color: theme-color("primary");
    padding: 1%;
    color: #fff;
    font-weight: bold;
  }
}
