.home {
  background-color: theme-color("blanco");

  h3 {
    text-transform: uppercase;
  }

  .glide__slides {
    padding: 3% 0;
  }

  .glide__slide {
    background-color: white;
    transform: rotateY(10deg) scale(0.95);
    transition-duration: 200ms;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.8;
    height: auto;

    .capaDias {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #970e53;
      color: #fff;
      padding: 5px 10px;
    }

    .contReunionesGrid {
      height: 100%;

      .contReunionSlide {
        background-size: cover;
        padding: 35px !important;
      }

      .filaReunion {
        background: none;
      }

      h1.entry-title {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
      }

      p.fechaReunion {
        margin-bottom: 0;
        font-size: 1.2rem;
        text-align: center;
        color: #970e53;
        text-transform: uppercase;
      }

      p.textoEncabezado {
        margin-bottom: 0;
        font-size: 1rem;
        text-align: center;
        color: #970e53;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        padding: 4% 0;
      }

      h2.titPatrocinadores {
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
      }

      .btnNavegacion {
        padding: 1% 0;
        text-align: center;
        display: block;
        width: 100%;
        margin: 1% auto;
        border-radius: 10px;
      }
    }
  }

  .glide__slide--active {
    background-color: white;
    z-index: 999;
    transform: rotateY(0) scale(1) !important;
    transition-duration: 200ms;
    border: solid 4px #970e53;
    opacity: 1;
    -webkit-filter: none;
    filter: none;
  }

  .glide__arrow {
    top: 96%;
    color: #970e53;
    text-transform: uppercase;
    padding: 20px 12px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #970e53;
    border-radius: 4px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
  }

  .botonTodas {
    color: #970e53;
    text-transform: uppercase;
    padding: 20px 12px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #970e53;
    border-radius: 4px;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 250px;
    margin: -14px auto 0;

    &:hover {
      text-decoration: none;
    }
  }

  .wrap {
    padding: 0;
  }

  section {
    padding: 2% 0;

    h2 {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      margin: 3% 0;
      font-size: 2.6rem;
    }
  }

  .btnSubir {
    position: fixed;
    bottom: 4%;
    right: 4%;
    max-width: 50px;
    display: none;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .programaHome {
    padding-bottom: 0;
  }

  .patrocinadoresHome {
    padding: 0;
  }

  .destacados {
    padding: 5% 0;
    background-image: radial-gradient(closest-corner at 50% 50%, #d6d4d4, #d6d4d4);
    text-align: center;

    h3.titDestacadoIco {
      font-size: 1.2rem;
      color: #970e53;
    }
  }

  .aliadosHome {
    padding: 3% 0;

    h2 {
      color: #970e53;
    }
  }

  @media (max-width: 768px) {
    section {
      h2 {
        font-size: 1.6rem;
      }
    }
  }

  @media (max-width: 576px) {
    .glide__arrow {
      top: 96%;
      padding: 20px 6px;
      font-size: 0.9rem;
    }

    .botonTodas {
      padding: 20px 6px;
      background-color: rgba(255, 255, 255, 1);
      font-size: 0.9rem;
      max-width: 140px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
