.colNavegacion {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: theme-color("blanco");
  z-index: 9;
  display: none;
  padding: 75px 15%;

  .navbar-nav {
    a {
      text-transform: uppercase;
      font-size: 1.3rem;
    }
  }

  .btnRegistro {
    text-align: center;
    display: block;
    margin: 5px 0;
  }
}

.headerMenu {
  width: 100%;
  border-bottom: white 1px solid;

  .hamburger {
    display: none;
  }

  .btnNavegacion {
    float: right;
    margin: 0 5px;
  }

  .navbar {
    padding: 0.5rem 0;

    li.reunionMenu {
      background-color: theme-color("primary");

      & > a {
        color: theme-color("blanco");
      }

      &:hover {
        background-color: #ccc;

        a {
          color: #000;
        }
      }
    }
  }

  .reunionMenu {
    display: none;
  }
}

.menuTop {
  position: relative;
  background-color: theme-color("blanco");
  z-index: 99;

  .brand {
    img {
      height: 60px;
    }
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1.3rem;
    text-transform: uppercase;
  }
}

.banner {
  background-size: cover;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: TruenoBd, Verdana, sans-serif;
  text-align: center;
}

@media (max-width: 1250px) {
  .container {
    min-width: 100%;
  }
}

@media (max-width: 1150px) {
  .container {
    min-width: 100%;
  }

  .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .col-8 {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .container {
    min-width: 100%;
  }

  .headerMenu {
    background-color: theme-color("blanco");

    .hamburger {
      display: block;
    }

    .inLogin {
      display: none !important;
    }

    .brand {
      img {
        height: 40px;
      }
    }

    ul.navbar-nav {
      display: none;
    }

    .registro {
      display: none;
    }
  }
}
