.template-reuniones {
  background-color: #f1f1f1;

  .capaDias {
    position: relative;
    left: 0;
    top: 0;
    background-color: #970e53;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
  }

  .contReunionesGrid {
    background-color: #fff;

    .contReunionSlide {
      background-size: cover;
      padding: 35px !important;
    }

    h1.entry-title {
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
    }

    p.fechaReunion {
      font-size: 1.4rem;
      text-align: center;
      color: #970e53;
      text-transform: uppercase;
    }

    p.textoEncabezado {
      font-size: 1rem;
      text-align: center;
      color: #970e53;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
    }

    h2.titPatrocinadores {
      font-size: 1.1rem;
      text-transform: uppercase;
    }

    .btnNavegacion {
      padding: 1% 0;
      text-align: center;
      display: block;
      width: 90%;
      margin: 1% auto;
    }
  }
}
