.single-comunicacion {
  .nombrAutor {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: solid 1px #970e53;
    margin-bottom: 2%;
  }

  strong {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .btnDescarga {
    color: theme-color("blanco");
    background: theme-color("primary");
    background-image: -webkit-linear-gradient(right, #f53d9a, #a4145d);
    background-image: -moz-linear-gradient(right, #f53d9a, #a4145d);
    background-image: -ms-linear-gradient(right, #f53d9a, #a4145d);
    background-image: -o-linear-gradient(right, #f53d9a, #a4145d);
    background-image: linear-gradient(to right, #f53d9a, #a4145d);
    font-weight: 700;
    border: solid #a4145d 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0 5px;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;

    &:hover {
      background-color: theme-color("primary");
      background-image: -webkit-linear-gradient(right, #ccc, #f1f1f1);
      background-image: -moz-linear-gradient(right, #ccc, #f1f1f1);
      background-image: -ms-linear-gradient(right, #ccc, #f1f1f1);
      background-image: -o-linear-gradient(right, #ccc, #f1f1f1);
      background-image: linear-gradient(to right, #ccc, #f1f1f1);
      color: #000;
      border: solid #000 1px;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .banner {
      h1 {
        font-size: 2rem;
      }
    }
  }

  @media (max-width: 576px) {
    .banner {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
