.template-streaming {
  .banner {
    min-height: 75px;
  }

  .horaEvento {
    font-size: 1.3rem;
    color: theme-color("primary");
    font-weight: bold;
  }

  .titEvento {
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: bold;
    color: theme-color("primary");
  }

  .pasado {
    display: none;
    font-size: 0.7rem;
    opacity: 0.5;
    color: #ccc;
    padding: 5px !important;

    .horaEvento {
      color: #ccc;
      font-size: 1rem;
    }

    .titEvento {
      color: #ccc;
      font-size: 1rem;
    }
  }
}
