* {
  outline: none !important;
}

body {
  font-size: 1rem;
  background-color: #fff;
}

.wrap {
  padding: 2% 0;
}

h1 {
  text-transform: uppercase;
  color: theme-color("primary");
}

h2 {
  font-size: 2rem;
}

.btnNavegacion {
  color: theme-color("blanco");
  background: theme-color("primary");
  background-image: -webkit-linear-gradient(right, #970e53, #bb0f67);
  background-image: -moz-linear-gradient(right, #970e53, #bb0f67);
  background-image: -ms-linear-gradient(right, #970e53, #bb0f67);
  background-image: -o-linear-gradient(right, #970e53, #bb0f67);
  background-image: linear-gradient(to right, #970e53, #bb0f67);
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;

  &:hover {
    background: theme-color("primary");
    background-image: -webkit-linear-gradient(right, #000, #171717);
    background-image: -moz-linear-gradient(right, #000, #171717);
    background-image: -ms-linear-gradient(right, #000, #171717);
    background-image: -o-linear-gradient(right, #000, #171717);
    background-image: linear-gradient(to right, #000, #171717);
    text-decoration: none;
    color: #fff;
  }
}

.btnRegistro {
  color: theme-color("blanco");
  background: theme-color("primary");
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 3px;
  border: none;
  padding: 2px 10px;

  &:hover {
    background: theme-color("grisClaro");
    text-decoration: none;
    color: #000;
  }
}

.gform_button {
  color: theme-color("blanco");
  background: theme-color("primary");
  background-image: -webkit-linear-gradient(right, #f53d9a, #a4145d);
  background-image: -moz-linear-gradient(right, #f53d9a, #a4145d);
  background-image: -ms-linear-gradient(right, #f53d9a, #a4145d);
  background-image: -o-linear-gradient(right, #f53d9a, #a4145d);
  background-image: linear-gradient(to right, #f53d9a, #a4145d);
  font-weight: 900;
  border: solid #a4145d 2px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: theme-color("primary");
    background-image: -webkit-linear-gradient(right, #f1f1f1, #999);
    background-image: -moz-linear-gradient(right, #f1f1f1, #999);
    background-image: -ms-linear-gradient(right, #f1f1f1, #999);
    background-image: -o-linear-gradient(right, #f1f1f1, #999);
    background-image: linear-gradient(to right, #f1f1f1, #999);
    text-decoration: none;
    color: #000;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
}
