.comunicacionesHome {
  background-color: #cdfbff;
  color: theme-color("blanco");
  background-size: cover;
  background-attachment: fixed;

  .btnNavegacion {
    display: block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 1.3rem;
    width: fit-content;
    margin: 0 auto;
  }

  h2 {
    color: #000;
  }

  p {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
  }
}
