.banner-home {
  background-size: cover;
  min-height: 400px;
  color: theme-color("blanco");
  text-align: center;

  h2 {
    font-family: TruenoBd, Verdana, sans-serif;
    color: theme-color("primary");
    font-size: 2rem;
  }

  h3 {
    color: theme-color("primary");
    border-width: 4px;
    border-style: solid;
    border-color: theme-color("primary");
    width: fit-content;
    margin: 0 auto;
    padding: 5px 20px;
    font-weight: 700;
    background-color: rgba(256, 256, 256, 0.3);
  }

  p {
    color: #000;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    background-color: rgba(256, 256, 256, 0.6);
    padding: 2%;
  }

  .btnNavegacion {
    display: block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 1.3rem;
    width: 90%;
    margin: 5px auto;
  }

  @media (max-width: 768px) {
    .btnNavegacion {
      width: 100%;
    }
  }
}

