.organizacionHome {
  background-color: theme-color("grisClaro");

  .titListado {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
  }

  ul {
    margin-top: 3%;
    column-count: 2;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li {
      list-style: none;
    }
  }

  .btnNavegacion {
    display: block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 1.3rem;
    width: fit-content;
    margin: 0 auto;
  }

  .nomPersona {
    font-weight: bold;
  }

  .puestoPersona {
    font-weight: 300;
    font-size: 1rem;
  }

  .lisPersona {
    font-weight: bold;
  }

  .puestoLisPersona {
    font-weight: 300;
    font-size: 1rem;
  }
}
