.programaHome {
  background-color: theme-color("blanco");

  .horaEvento {
    font-size: 1.3rem;
    color: theme-color("primary");
    font-weight: bold;
  }

  .titEvento {
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: bold;
    color: theme-color("primary");
  }

  .botnDesplegable {
    color: #000;
    background: theme-color("primary");
    background-image: -webkit-linear-gradient(right, #ccc, #f1f1f1);
    background-image: -moz-linear-gradient(right, #ccc, #f1f1f1);
    background-image: -ms-linear-gradient(right, #ccc, #f1f1f1);
    background-image: -o-linear-gradient(right, #ccc, #f1f1f1);
    background-image: linear-gradient(to right, #ccc, #f1f1f1);
    font-weight: 900;
    border: solid #ccc 2px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 5px;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: theme-color("primary");
      color: theme-color("blanco");
      cursor: pointer;
    }
  }

  .activo {
    color: theme-color("blanco");
    background: theme-color("primary");
    background-image: -webkit-linear-gradient(right, #f53d9a, #a4145d);
    background-image: -moz-linear-gradient(right, #f53d9a, #a4145d);
    background-image: -ms-linear-gradient(right, #f53d9a, #a4145d);
    background-image: -o-linear-gradient(right, #f53d9a, #a4145d);
    background-image: linear-gradient(to right, #f53d9a, #a4145d);
    font-weight: 900;
    border: solid #a4145d 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
  }

  .btnNavegacion {
    display: block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 1.3rem;
    width: fit-content;
    margin: 0 auto;
  }

  @media (max-width: 992px) {
    .botoneraPrograma {
      text-align: center;
    }
  }
}
